# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
*.env
.env.*
!.env.example

# Build
dist/
build/
.next/
out/
.cache/

# IDE
.vscode/

# Logs
logs/
*.log

# Kubernetes
k8s/secrets.yaml

# Redis
dump.rdb

# Expo
.expo/
dist-expo/

# Mobile
mobile/ios/Pods/
mobile/android/.gradle/
mobile/android/app/build/
mobile/android/build/

# Scripts
.scripts/